/* You can add global styles to this file, and also import other style files */

/* ---------Start general settings--------- */

:root {
--primary-color: rgb(228, 228, 228);
--secondary-color: rgb(42, 42, 42);
--text-color-black: rgb(0,0,0);
--text-color-white: rgb(255, 255, 255);
--radious: 7px;

--button-red: rgb(238, 85, 85);
--button-green: rgb(130, 246, 130);
--button-blue: rgb(139, 246, 106);
--button-red-hover: rgb(238, 85, 85);
--button-green-hover: rgb(130, 246, 130);
--button-blue-hover: rgb(106, 148, 246);
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

p {
  margin: .5rem;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* ---------Employee--------- */

.profilePicture {
  height: 50px;
}

/* ---------Start Search Bar and Add Button-------- */

.search {
  display: flex;
  height: 40px;
  margin-top: 50px;
  justify-content: space-between;
  border-radius: var(--radious);
  flex-wrap: wrap;
}

input {
  height: inherit;
  border-radius: inherit;
  width: 70%;
  font-size: 1rem;
  padding-left: 15px;
  border: 1px solid rgba(0, 0, 0, 0.123);
}

.search button {
  height: inherit;
  border-radius: inherit;
  width: 28%;
  margin-right: 0;
}

/* ---------End Search Bar and Add Button-------- */

/* ---------Start Buttons--------- */

button {
  border-radius: var(--radious);
  border: none;
  font-size: 1rem;
  height: 35px;
  margin-right: 10px;
  width: 100px;
  font-weight: 500;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0);
  transition: .3s;
}

button:hover {
  height: 40px;
  /* width: 110px; */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.548);
}
tr button:hover::after {
  content: '';
  background-color: aqua;
}

.option-buttons {
  width: 250px;
}

.button-red { background-color: var(--button-red) }
.button-green { background-color: var(--button-green); }
.button-blue { background-color: var(--button-blue); }


/* ---------End Buttons--------- */

/* ---------Start Table--------- */

table {
  margin: 50px 0;
  width: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.109);
}
th {
  font-size: 1.1rem;
  background-color: var(--secondary-color);
  color: var(--text-color-white);
}
th, td { height: 70px; }

tHead tr th:nth-child(1) { width: 5%; }
tHead tr th:nth-child(2) { width: 25%; }
tHead tr th:nth-child(3) { width: 40%; }
tHead tr th:nth-child(4) { width: 30%; }
table tbody tr:nth-child(even){ background-color: #f2f2f2; }


/* ---------End Table--------- */

/* ---------Start Main Page--------- */

.titlePage {
  text-align: center;
  padding: 10px 10px 15px 10px;
  background-color: var(--primary-color);
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
