<div class="search">
  <input type="text" placeholder="Buscar por departamento ou sigla" [(ngModel)]="filtroLista">
  <button class="button-blue">Adicionar</button>
</div>
<table>
  <tHead>
    <tr>
      <th class="text-center idColumn">#</th>
      <th class="text-left departamentoColumn">Departamento</th>
      <th class="text-left siglaColumn">Sigla</th>
      <th class="text-center buttonColumn" colspan="2">Opções</th>
      <th></th>
    </tr>
  </tHead>
  <tBody *ngIf="departamentos && departamentos.length">
    <tr *ngFor="let departamento of departamentosFiltrados">
      <td class="text-center">{{departamento.id}}</td>
      <td class="text-left">{{departamento.nome}}</td>
      <td class="text-left">{{departamento.sigla}}</td>
      <td class="text-right"><button class="edit button-green">Editar</button></td>
      <td><button class="delete button-red">Remover</button></td>
    </tr>
  </tBody>
  <tFoot *ngIf="!departamentos.length">
    <tr>
      <td class="text-center" colspan="5"><h3>Nenhum departamento encontrado.
      </h3></td>
    </tr>
  </tFoot>
</table>
